*{
  margin:0;
}
body{
  background: white;
  width:70px:
}
main{
  margin: 200px auto;
  width: 50%;
}
.wrapper{
  width: 100%;
  max-width: width 960px;
  background: black;
}
.flex-container{
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap:10px;
}
.one{
  background: #e12e0e;
  grid-column:1/4;
  grid-row: 1/3;
}
.two{
  background: #d7ab0f;
  grid-column:4/6;
  grid-row: 1/3;
}
.three{
  background: #179217;
  grid-column:1/3;
  grid-row: 3/5;
}
.four{
  background: blue;
  grid-column:3/6;
}
.five{
  background: blue;
  grid-column:3/6;
}